# standard git ignore
# vscode and idea dirs
.vscode
.idea

# binaries
bin
webpage-analyzer
server

# Unneeded files and dirs
.DS_Store
coverage.txt
coverage.out
coverage.html
cov.html
coverage.tmp.out

# Docker
.env

# Test artifacts
internal/handlers/testdata

# Monitoring data
prometheus-data/
grafana-data/
